<!-- Journal Entries--render -->
<mat-toolbar color="primary">
  <span>Past Entries</span>
</mat-toolbar>
<mat-card class="entry__container entry__container--render">
  <mat-tab-group color="primary"
                  dynamicHeight="true"
                 (selectedTabChange)="onCategoryChange($event)">
    <ng-container *ngFor="let category of categories">
      <mat-tab [label]="category" class="entry__render--tab">
        <ng-container *ngFor="let entry of entries">
          <div class="entry__render" *ngIf="entry.category === category">
            <h3 class="entry__title"><strong>Date: </strong> {{ entry.date }} </h3>
            <h3 class="entry__title"><strong>Title: </strong> {{ entry.title }}</h3>
            <div class="entry__text">
              {{ entry.entry }}
            </div>
            <mat-list class="entry__list"
                      *ngIf="entry.listItems">
              <mat-list-item *ngFor="let listItem of entry.listItems"
                             class="list-item">
                <mat-checkbox color="primary"
                              [checked]="listItem.done">{{ listItem.title }}</mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
        </ng-container>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</mat-card>
<!-- ./ Journal Entries--render -->