<div class="app__container">
  <div class="app__wrapper">
    <title class="app__title">
      Katie's Journal
    </title>

    <journal-entry-render [entries]="entries"
                          (categoryChange)="updateCategory($event)"
                          class="app__component mat-elevation-z3">
    </journal-entry-render>
    <journal-entry-input (submit)="renderEntry($event)"
                         [category]="selectedCategory"
                         class="app__component mat-elevation-z3">
    </journal-entry-input>
  </div>
</div>