/* You can add global styles to this file, and also import other style files */
@import "../node_modules/reset-css/reset.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./app/styles/variables";
@import "./app/styles/typography";
@import "./app/styles/flex";

* { box-sizing: border-box; }
html, body {
  width: 100vw;
  height: 100vh;
}
body {
  background: $mid-gray;
  color: white;
}
strong {
  font-weight: 700;
}